:root {
  --primary-color: #222742;
  --secondary-color: #ffc576;
  --tertiary-color: #fff;
  --gradient-start: rgba(239, 0, 215, 1);
  --gradient-end: rgba(72, 0, 236, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p,
ul,
li {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

/* HEADER / NAV BAR START */

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 20px 35px;
  height: 10vh;
  min-height: 90px;
  background-color: var(--tertiary-color);
  background-image: url('../images/header-background.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  color: #fff;
  font-size: 40px;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 25px;
  font-weight: 100;
  font-size: 25px;
  color: var(--secondary-color);
}

/* #my-skills,
#my-work,
#about-mark,
#connect {
  padding-top: 250px;
  margin-top: 250px;
} */

/* HEADER / NAV BAR END */

/* MAIN START */

/* main {
  margin: 300px;
} */

/* MAIN END */

/* FOOTER START */
footer {
  background: black;
  padding: 40px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: rgb(218, 218, 218);
  font-size: 14px;
  margin: 0;
}

footer a {
  color: var(--secondary-color);
}
/* FOOTER END  */

/* UTILITIES START */

.flex-row {
  display: flex;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: var(--secondary-color);
  height: 4px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

/* UTILITIES END */

/* HERO START */

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;

  background-image: url('../images/header-background.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  height: 90vh;
}

.hero-statement {
  margin-bottom: 26vh;
}

#hello {
  color: #ffc576;
  font-size: 40px;
}

.hero #hero-name {
  color: white;
  font-size: 80px;
}

.neon-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    160deg,
    var(--gradient-start) 0,
    var(--gradient-end) 100%
  );
  display: inline-block;
  padding-bottom: 1rem;
  position: relative;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.hero .button {
  display: inline-block;
  margin-top: 50px;
  width: 50%;
  padding: 10px 30px;
  background-color: var(--primary-color);
  opacity: 0.7;
  border-radius: 10px;
  border-style: none;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.hero .button:hover {
  opacity: 1;
  cursor: pointer;
}

.hero img {
  height: 600px;
  margin-right: 20vh;
}
/* HERO END */

/* GENERAL SECTION START */
.section {
  padding: 100px 300px;
}

.section-title {
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .primary-border {
  border-color: var(--primary-color);
} */

/* GENERAL SECTION END */

/* ABOUT START */

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  color: white;
}

.about .profile {
  width: auto;
  max-width: 55%;
  margin-right: 150px;
  flex-grow: 1;
}

.about h2 span,
.about h3 span,
.connect h2 span {
  color: var(--secondary-color);
}

.about p {
  line-height: 1.5;
}

.about .skills {
  flex-grow: 3;
  width: auto;
}

.about li {
  line-height: 1.5;
}

/* ABOUT END */

/* WORK START */

.work {
  display: flex;
  flex-wrap: wrap;
}

.my-work-hero,
.my-work {
  margin-bottom: 3%;
}

.my-work {
  padding: 180px 150px;
  text-decoration: none;
}

.my-work:nth-child(1) {
  width: 100%;
  padding: 200px 150px;
}

.work,
.about h2,
.skills h3 {
  margin-top: 100px;
}

.my-work h3 {
  text-transform: capitalize;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

#work-1 {
  background: linear-gradient(
      45deg,
      rgba(255, 0, 150, 0.3),
      rgba(255, 0, 150, 0.5)
    ),
    url('/assets/images/run-buddy-work.jpg');
  background-size: cover;
  background-position: center;
}

#work-2 {
  background: linear-gradient(
      45deg,
      rgba(72, 0, 236, 0.5),
      rgba(255, 0, 150, 0.5)
    ),
    url('/assets/images/work-2.jpg');
  background-size: cover;
  background-position: center;
}
#work-3 {
  background: linear-gradient(
      45deg,
      rgba(255, 0, 150, 0.3),
      rgba(255, 0, 150, 0.5)
    ),
    url('/assets/images/work-3.jpg');
  background-size: cover;
  background-position: center;
}
#work-4 {
  background: linear-gradient(
      45deg,
      rgba(255, 0, 150, 0.5),
      rgba(72, 0, 236, 0.5)
    ),
    url('/assets/images/work-4.jpg');
  background-size: cover;
  background-position: center;
}

.connect {
  background-color: var(--primary-color);
  color: white;
  padding-top: 200px;
}

.connect-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  color: white;
  font-size: 50px;
  text-decoration: none;
}

/* MEDIA QUERIES START */

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
